@media only screen and (max-width:768px){
    /*---------------------------------- Navbar --------------------------------------*/
    .dashboard-nav{
        position: absolute;
        display: block;
        right: 100%;
        width: 60% !important;
        z-index: 99;
        transition: .4s all ease-in-out;
    }

    .school-dashboard{
        display: block !important;
    }
    .is_mob_active{
        right: 40%;
    }

    /*--------------------------- Dashboard Styles ----------------------------------*/
    .school-dashboard{
        gap: 10px !important;
    }
    .hamburger{
        display: block !important;
        border: none;
        background: none;
        appearance: none;
    }
    .bar{
        width: 50px;
        background: black;
        height: 5px;
        border-radius: 5px;
        transition: .4s all ease-in-out;
    }
    .bar:nth-child(2).is_active{
        display: none;
    }
    .bar:nth-child(1).is_active{
        transform: rotate(45deg) translate(5px, -2px);
    }
    .bar:nth-child(3).is_active{
        transform: rotate(-45deg) translate(9px, -4px);
    }
    .bar:nth-child(1), .bar:nth-child(2){
        margin-bottom: 7px;
    }
    .system-header h5{
        text-transform: uppercase;
        font-size: 15px!important;
        padding: 5px;
    }
    .system-header{
        display: block !important;
        text-transform: uppercase;
        font-size: 15px !important;
    }
    .sign_lock{
        display: flex;
        justify-content: space-around;
    }

    /*------------------ Dashboard cards --------------------*/
    .card-container{
        display: block !important;
    }
    .card-container > div{
        margin-bottom: 40px;
    }

    /*----------------- dashboard planner -----------------*/
    .term-planner{
        height: 7cm;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100% !important;
    }

    /*------------------------ Student CSS ---------------------*/
    .add-student > div{
        display: block !important;
    }

    /*------------------------ Login ---------------------------*/
    .login-container{
        width: 95% !important;
        margin-top: 30%;
    }

}