@media only screen and (max-width:768px){
    /*---------------------------------- Navbar --------------------------------------*/
    .dashboard-nav{
        display: none;
    }

    .display_nav{
        display: block !important;
        position: absolute;
        z-index: 99;
        transition: .4s;
    }

    /*--------------------------- Dashboard Styles ----------------------------------*/
    .school-dashboard{
        gap: 10px !important;
    }
    .dashboard-nav{
        width: 40% !important;
    }
    .hamburger{
        display: block !important;
    }
    .hamburger i{
        font-size: 35px !important;
    }
    .system-header h5{
        text-transform: uppercase;
        font-size: 15px!important;
        padding: 5px;
    }
    .system-header{
        display: block !important;
        text-transform: uppercase;
        font-size: 15px !important;
    }
    .sign_lock{
        display: flex;
        justify-content: space-around;
    }

    /*------------------ Dashboard cards --------------------*/
    .card-container{
        display: block !important;
    }
    .card-container > div{
        margin-bottom: 40px;
    }

    /*----------------- dashboard planner -----------------*/
    .term-planner{
        height: 7cm;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100% !important;
    }

    /*------------------------ Student CSS ---------------------*/
    .add-student > div{
        display: block !important;
    }

    /*------------------------ Login ---------------------------*/
    .login-container{
        width: 95% !important;
        margin-top: 30%;
    }

}